@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    Here is a Razr comment    
*@

@{
    var className = Model.Customers.Count > 5 ? "popular" : null;
}
<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <div>No one has rented this movie yet</div>
}
else
{
    <ul>
        @foreach (var cust in Model.Customers)
        {
            <li>@cust.Name</li>
        }
    </ul>
}


